.font-bold {
	font-weight: 700;
}

.font-regular {
	font-weight: 400;
}

.text-sm {
	font-size: 0.875em;
	line-height: 140%;
}

.text-base {
	font-size: 1em;
	line-height: 140%;
}
@media(max-width: 991px) {
	.text-base {
		font-size: 1.1em;
	}
}

.text-lg {
	font-size: 1.25em;
	line-height: 130%;
}

.text-xl {
	font-size: 1.563em;
	line-height: 120%;
}

.text-2xl {
	font-size: 1.953em;
  line-height: 130%;
}

.text-3xl {
	font-size: 2.441em;
	line-height: 120%;
}

.text-4xl {
	font-size: 3.052em;
  line-height: 120%;
  margin-bottom: 20px;
}

.text-5xl {
	font-size: 3.815em;
  line-height: 120%;
  margin-bottom: 25px;
}

p {
  margin-bottom: 15px;
}

.text-section-sub {
	max-width: 722px;
	margin-left: auto;
	margin-right: auto;
}