header {
  padding: 40px 0;
  background: var(--black);
}
  header .container {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
  }

  @media(max-width: 480px) {
    header .container {
      display: block;
      text-align: center;
    }
    header img {
      width: 150px;
      margin: 0 auto 15px;
    }
    header img,
    header a {
      display: block;
    }
  }