<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <!-- <base href=""> -->
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

  <meta name="description" content="{{ .Params.description }}" />
  <meta itemprop="description" content="{{ .Params.description }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
	<meta name="twitter:description" content="{{ .Params.description }}" />

  <link rel="stylesheet" href="css/main.css">
  
  <!-- Quitar al publicar el sitio -->
  <meta name=”robots” content=”noindex”>

</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

</body>

</html>