{{ define "main" }}
  <section class="home-hero">
    <div class="container">
      <h1 class="text-5xl home-hero_title text-white">Ni marketing digital ni diseño UX/UI. <span class="text-red">Quién sabe</span> qué más podrá ser.</h1>
      <h2 class="text-2xl home-hero_sub text-light-gray font-regular">WhoKnows Agency aplica procesos enfocados en transformar startups y empresas a través de internet, más rápido.</h2>
    </div>
  </section>
  <section class="band bg-white text-center home-intro">
    <div class="container">
      <h3 class="text-4xl text-black">¿De qué se trata?</h3>
      <p class="text-xl text-dark-gray text-section-sub">Cualquier desafío con el que nos encontramos pasa por un método de 4 semanas enfocado en la colaboración y la agilidad.</p>
      <h5 class="text-xl text-black font-bold">Un mismo enfoque para problemas diferentes:</h5>
      <div class="home-intro_stickies">
        <article class="text-center">
          <span class="text-lg font-bold">Semana 1</span>
          <span class="text-lg">Research</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 2</span>
          <span class="text-lg">Workshop</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 3</span>
          <span class="text-lg">Setup</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 4</span>
          <span class="text-lg">Lanzamiento</span>
        </article>
      </div>
    </div>
  </section>
  <section class="band text-center home-cases">
    <div class="container">
      <h3 class="text-4xl text-black">¿Y cómo aplica este <br> proceso a un caso real?</h3>
      <p class="text-xl text-dark-gray text-section-sub">Nos sumamos a tu equipo con un proceso pensado para que en 30 días podamos resolver en equipo lo más difícil: el comienzo.</p>
      <p class="text-xl text-dark-gray text-section-sub">Combinamos DIseño UX y estrategias de crecimiento online para atacar problemas tanto B2C como B2B.</p>
      <div class="home-cases_list">
        <article class="home-cases_list--item">
          <img src="/img/cases/outtripper/preview.jpg" alt="OutTripper - Diseño UX de MVP">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">Diseño UX de <br>un MVP</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="/img/cases/culturait/preview.jpg" alt="Cultura IT - Estrategia de contenidos y ventas">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">Cultura IT</p>
              <div class="casestudy_tag">B2B</div>
            </div>
            <h4 class="text-black text-xl font-bold">Estrategia de <br> contenidos y ventas</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="/img/cases/remaxblue/preview.jpg" alt="Remax Blue - Marketing de captación">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">Remax Blue</p>
              <div class="casestudy_tag">B2B</div>
            </div>
            <h4 class="text-black text-xl font-bold">Marketing <br> de captación</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="band bg-white text-center home-services">
    <div class="container">
      <h3 class="text-4xl text-black">Te ayudamos a hacer <br> ese “WhoKnows”. </h3>
      <p class="text-xl text-dark-gray text-section-sub">No saber qué hacer puede ser difícil. Nosotros no solo te ayudamos a comenzar, sino a entender cómo hacerlo.</p>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="" alt="">
          <h4 class="text-black text-xl font-bold">Entender el WhoKnows.</h4>
          <p class="text-lg text-dark-gray">Investigar sobre los problemas de tu proyecto. Explorar oportunidades. Pensar cómo encararlo.</p>
        </div>
        <div class="home-services_item--aside">
          <h6>Servicios relacionados:</h6>
          <ul>
            <li>Research</li>
            <li>Buyer Persona</li>
            <li>Customer Journey</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="" alt="">
          <h4 class="text-black text-xl font-bold">Agilizar el WhoKnows.</h4>
          <p class="text-lg text-dark-gray">Usamos metodologías ágiles para entender en una semana lo que podría llevarnos meses.</p>
        </div>
        <div class="home-services_item--aside">
          <h6>Servicios relacionados:</h6>
          <ul>
            <li>Workshops</li>
            <li>Design Sprints</li>
            <li>Storybrands</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="" alt="">
          <h4 class="text-black text-xl font-bold">Crear el WhoKnows.</h4>
          <p class="text-lg text-dark-gray">Creamos prototipos funcionales con recursos mínimos para salir cuantos antes a validar la idea que obtuvimos en equipo.</p>
        </div>
        <div class="home-services_item--aside">
          <h6>Servicios relacionados:</h6>
          <ul>
            <li>Diseño & desarrollo web</li>
            <li>Diseño UX/UI</li>
            <li>Contenidos & embudos</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="" alt="">
          <h4 class="text-black text-xl font-bold">Lanzar el WhoKnows.</h4>
          <p class="text-lg text-dark-gray">Revisamos el prototipo, confirmamos los objetivos y comenzamos a probarlo en internet.</p>
        </div>
        <div class="home-services_item--aside">
          <h6>Servicios relacionados:</h6>
          <ul>
            <li>Facebook & Google Ads</li>
            <li>Estrategias en LinkedIn</li>
            <li>Mailing</li>
          </ul>
        </div>
      </article>
      <article class="home-services_wkitem">
        <img src="" alt="">
        <h4 class="text-black text-xl font-bold">Mantener vivo el WhoKnows...</h4>
        <p class="text-lg text-dark-gray">Luego de lanzar el proyecto inicial, solemos hacer un acompañamiento del mismo de forma mensual, optimizando los procesos y los resultados.</p>
      </article>
    </div>
  </section>
  <section class="band text-center home-about">
    <div class="container">
      <h3 class="text-4xl text-black">¿Y qué es eso de "WhoKnows"?</h3>
      <p class="text-xl text-dark-gray text-section-sub">WhoKnows Agency es una agencia digital que opera de forma 100% remota, enfocada en diseño UX y marketing digital. Para familiarizarte, estos somos los directores:</p>
      <div class="home-about_members">
        <article class="home-about_members--member">
          <img src="" alt="">
          <h5 class="text-black text-lg font-bold">Alejandro Aboy</h5>
          <p class="text-dark-gray text base font-regular">Cree que las estrategias pueden empezar con un formulario de Facebook Ads y convertirse en un embudo de ventas con mailing, blog y un "whoknows" nuevo que aparece para cada proyecto. Probablemente ya hayas hablado con él porque te envió un mail aleatorio con un asunto así: "cómo estás???" Ese tipo de técnica son las que puede aplicar para conseguirte nuevas oportunidades.</p>
          <a href="" class="btn-link" target="_blank">Ver LinkedIn</a>
        </article>
        <article class="home-about_members--member">
          <img src="" alt="">
          <h5 class="text-black text-lg font-bold">Juan Germano</h5>
          <p class="text-dark-gray text base font-regular">Es de esos que físicamente tienen la estatura para jugar al basquet pero por dentro tienen alma de hacker que se queda hasta la hora que sea intentando resolver ese problema. Empezó a diseñar sitios luego de aprender a codearlos, así que ya te das una idea. Detesta los productos digitales que son 90% animaciones y colores pasteles y 10% información útil. Por eso considera que Wikipedia tiene buen diseño.</p>
          <a href="" class="btn-link" target="_blank">Ver LinkedIn</a>
        </article>
      </div>
    </div>
  </section>
  <section class="band text-center bg-black home-contact">
    <div class="container">
      <h3 class="text-4xl text-white">Suficiente sobre nosotros</h3>
      <p class="text-xl text-light-gray text-section-sub">Ahora es tu turno. Completá el formulario y contanos un poco sobre tu empresa o proyecto. Si vemos que podemos ayudarte con algo, nos pondremos en contacto para coordinar una call.</p>
      <form action="">
        <div class="form-row">
          <label for="email" class="form-label">
            <span>Email*</span>
            <input type="email" id="email" placeholder="nombre@email.com">
          </label>
          <label for="name" class="form-label">
            <span>Nombre*</span>
            <input type="text" id="name" placeholder="Laura">
          </label>
        </div>
        <div class="form-row">
          <label for="email" class="form-label">
            <span>Empresa*</span>
            <input type="text" id="empresa" placeholder="Lego">
          </label>
          <label for="budget" class="form-label">
            <span>¿Qué presupuesto destinarías a esto?</span>
            <select name="budget" id="budget">
              <option value="" default>u$s500-u$s1000</option>
              <option value="">u$s1000-u$s2000</option>
              <option value="">u$s3000-u$s5000</option>
              <option value="">u$s5000-u$s10000</option>
            </select>
          </label>
        </div>
        <div class="form-row">
          <label for="phase" class="form-label">
            <span>¿En qué fase está el proyecto?</span>
            <select name="phase" id="phase">
              <option value="" default>Quiero lanzar una web, app, o tienda online</option>
              <option value="">Quiero aumentar ventas online (ecommerce)</option>
              <option value="">Quiero captar clientes o contactos potenciales</option>
              <option value="">Otro</option>
            </select>
          </label>
        </div>
        <div class="form-row">
          <label for="message" class="form-label">
            <span>Contanos un poco de qué se trata</span>
            <textarea name="message" id="message" cols="10" rows="10"></textarea>
          </label>
        </div>
        <div class="form-row">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </section>
{{ end }}