{{ define "main" }}
  <section class="home-hero">
    <div class="container">
      <h1 class="text-5xl home-hero_title text-white">Ni marketing digital ni diseño UX/UI. <span class="text-red">Quién sabe</span> qué más podrá ser.</h1>
      <h2 class="text-2xl home-hero_sub text-light-gray font-regular">WhoKnows Agency aplica procesos enfocados en transformar startups y empresas a través de internet, más rápido.</h2>
    </div>
  </section>
  <section class="band bg-white text-center home-intro">
    <div class="container">
      <h3 class="text-4xl text-black">¿De qué se trata?</h3>
      <p class="text-xl text-dark-gray">Cualquier desafío con el que nos encontramos pasa por un método de 4 semanas enfocado en la colaboración y la agilidad.</p>
      <p class="text-xl text-black font-bold">Un mismo enfoque para problemas diferentes:</p>
      <div class="home-intro_stickies">
        <article class="text-center">
          <span class="text-lg font-bold">Semana 1</span>
          <span class="text-lg">Research</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 2</span>
          <span class="text-lg">Workshop</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 3</span>
          <span class="text-lg">Setup</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Semana 4</span>
          <span class="text-lg">Lanzamiento</span>
        </article>
      </div>
    </div>
  </section>
  <section class="band text-center home-cases">
    <div class="container">
      <h3 class="text-4xl text-black">¿Y cómo aplica este proceso a un caso real?</h3>
      <p class="text-xl text-dark-gray">Nos sumamos a tu equipo con un proceso pensado para que en 30 días podamos resolver en equipo lo más difícil: el comienzo.</p>
      <p class="text-xl text-dark-gray">Combinamos DIseño UX y estrategias de crecimiento online para atacar problemas tanto B2C como B2B.</p>
      <div class="home-cases_list">
        <article class="home-cases_list--item">
          <img src="" alt="">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">Diseño UX de MVP</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="" alt="">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">Diseño UX de MVP</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="" alt="">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">Diseño UX de MVP</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="" alt="">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">Diseño UX de MVP</h4>
            <a href="" class="btn-link">Leer más</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="band bg-white text-center home-services">
    <div class="container">
      <h3 class="text-4xl text-black">Te ayudamos a hacer ese “WhoKnows”. </h3>
      <p class="text-xl text-dark-gray">No saber qué hacer puede ser difícil. Nosotros no solo te ayudamos a comenzar, sino a entender cómo hacerlo.</p>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="" alt="">
          <h4 class="text-black text-xl font-bold">Entender el WhoKnows.</h4>
          <p class="text-lg text-dark-gray">Investigar sobre los problemas de tu proyecto. Explorar oportunidades. Pensar cómo encararlo.</p>
        </div>
        <div class="home-services_item--aside">
          <h6>Servicios relacionados:</h6>
          <ul>
            <li>Research</li>
            <li>Buyer Persona</li>
            <li>Customer Journey</li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  <section class="band text-center">
    <div class="container">
      <h3 class="text-4xl text-black">¿Y qué es eso de "WhoKnows"?</h3>
      <p class="text-xl text-dark-gray">WhoKnows Agency es una agencia digital que opera de forma 100% remota, enfocada en diseño UX y marketing digital. Para familiarizarte, estos somos los directores:</p>
    </div>
  </section>
  <section class="band text-center bg-black">
    <div class="container">
      <h3 class="text-4xl text-white">Suficiente sobre nosotros</h3>
      <p class="text-xl text-light-gray">Ahora es tu turno. Completá el formulario y contanos un poco sobre tu empresa o proyecto. Si vemos que podemos ayudarte con algo, nos pondremos en contacto para coordinar una call.</p>
    </div>
  </section>
{{ end }}