{{ define "main" }}
  <section class="home-hero">
    <div class="container">
      <h1 class="text-5xl home-hero_title text-white">It's not marketing nor UX/UI design. <span class="text-red">Who knows</span> what else could it be.</h1>
      <h2 class="text-2xl home-hero_sub text-light-gray font-regular">WhoKnows applies processes focused on transforming startups and businesses trough the internet, faster.</h2>
    </div>
  </section>
  <section class="band bg-white text-center home-intro">
    <div class="container">
      <h3 class="text-4xl text-black">Not an agency</h3>
      <p class="text-xl text-dark-gray text-section-sub">Every challenge we face goes through a 4 week process focused on agility and collaboration.</p>
      <h5 class="text-xl text-black font-bold">One approach for different problems:</h5>
      <div class="home-intro_stickies">
        <article class="text-center">
          <span class="text-lg font-bold">Week 1</span>
          <span class="text-lg">Research</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Week 2</span>
          <span class="text-lg">Workshop</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Week 3</span>
          <span class="text-lg">Setup</span>
        </article>
        <article class="text-center">
          <span class="text-lg font-bold">Week 4</span>
          <span class="text-lg">Launch</span>
        </article>
      </div>
    </div>
  </section>
  <section class="band text-center home-cases">
    <div class="container">
      <h3 class="text-4xl text-black">What does this "process" <br> looks like in real life?</h3>
      <p class="text-xl text-dark-gray text-section-sub">We can join your team to apply a 30 day process focused on solving the hardest part: the start.</p>
      <p class="text-xl text-dark-gray text-section-sub">We combine UX design with online growth strategies to solve B2C and B2B challenges.</p>
      <div class="home-cases_list">
        <article class="home-cases_list--item">
          <img src="/img/cases/outtripper/preview.jpg" alt="OutTripper - Diseño UX de MVP">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">OutTripper</p>
              <div class="casestudy_tag">B2B & B2C</div>
            </div>
            <h4 class="text-black text-xl font-bold">MVP's UX <br> Design</h4>
            <a class="btn-link">Case study coming soon</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="/img/cases/culturait/preview.jpg" alt="Cultura IT - Estrategia de contenidos y ventas">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">Cultura IT</p>
              <div class="casestudy_tag">B2B</div>
            </div>
            <h4 class="text-black text-xl font-bold">Sales and <br> content strategy</h4>
            <a class="btn-link">Case study coming soon</a>
          </div>
        </article>
        <article class="home-cases_list--item">
          <img src="/img/cases/remaxblue/preview.jpg" alt="Remax Blue - Marketing de captación">
          <div>
            <div class="info">
              <p class="text-base text-dark-gray">Remax Blue</p>
              <div class="casestudy_tag">B2B</div>
            </div>
            <h4 class="text-black text-xl font-bold">Lead <br> generation marketing</h4>
            <a class="btn-link">Case study coming soon</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="band bg-white text-center home-services">
    <div class="container">
      <h3 class="text-4xl text-black">We'll help you build <br> the "who knows”. </h3>
      <p class="text-xl text-dark-gray text-section-sub">Not knowing what to do could be hard for you. We'll help you not only getting started, but understanding how to.</p>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="/img/icons/entender.svg" alt="Ícono sobre proceso e investigación">
          <h4 class="text-black text-xl font-bold">Understanding the "who knows”</h4>
          <p class="text-lg text-dark-gray">Researching your proyect's future problems. Exploring opportunities. Coming up with possible solutiones.</p>
        </div>
        <div class="home-services_item--aside">
          <h6 class="text-lg font-bold text-white">Related services:</h6>
          <ul class="text-lg font-regular text-dark-gray">
            <li>Research</li>
            <li>Buyer Persona</li>
            <li>Customer Journey</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item reverse">
        <div class="home-services_item--body">
          <img src="/img/icons/agilizar.svg" alt="Ícono sobre metodologías ágiles">
          <h4 class="text-black text-xl font-bold">Agilyzing the "who knows”</h4>
          <p class="text-lg text-dark-gray">We use agile methodoogies to do in a week what typically take months.</p>
        </div>
        <div class="home-services_item--aside">
          <h6 class="text-lg font-bold text-white">Related services:</h6>
          <ul class="text-lg font-regular text-dark-gray">
            <li>Workshops</li>
            <li>Design Sprints</li>
            <li>Storybrands</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item">
        <div class="home-services_item--body">
          <img src="/img/icons/crear.svg" alt="Ícono sobre crear un proyecto creativo">
          <h4 class="text-black text-xl font-bold">Creating the "who knows”</h4>
          <p class="text-lg text-dark-gray">We create functional prototypes with minimun resources to validate the ideas we've came up with through collaboration.</p>
        </div>
        <div class="home-services_item--aside">
          <h6 class="text-lg font-bold text-white">Related services:</h6>
          <ul class="text-lg font-regular text-dark-gray">
            <li>Web design & development</li>
            <li>UX Design</li>
            <li>Content & funnels</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item reverse">
        <div class="home-services_item--body">
          <img src="/img/icons/lanzar.svg" alt="Ícono sobre lanzar un proyecto">
          <h4 class="text-black text-xl font-bold">Launching the "who knows”</h4>
          <p class="text-lg text-dark-gray">After validating our main ideas, we launch a final, refined product.</p>
        </div>
        <div class="home-services_item--aside">
          <h6 class="text-lg font-bold text-white">Related services:</h6>
          <ul class="text-lg font-regular text-dark-gray">
            <li>Facebook & Google Ads</li>
            <li>LinkedIn strategies</li>
            <li>Mailing</li>
          </ul>
        </div>
      </article>
      <article class="home-services_item bg-black">
        <div class="home-services_item--body text-center">
          <img src="/img/icons/logo-iso.svg" alt="Iso de WhoKnows Agency">
          <h4 class="text-black text-xl font-bold text-white">Keeping the "who knows" alive...</h4>
          <p class="text-lg text-dark-gray">After launching the initial proyect, we tipically join our clients on a monthly basis to keep iterating on the ideas.</p>
        </div>
      </article>
    </div>
  </section>
  <section class="band text-center home-about">
    <div class="container">
      <h3 class="text-4xl text-black">So; what's "who knows"?</h3>
      <p class="text-xl text-dark-gray text-section-sub">WhoKnows is a fully remote digital agency, focused in UX design & marketing. Here's our directors:</p>
      <div class="home-about_members">
        <article class="home-about_members--member">
          <img src="/img/alejandro-aboy.png" alt="Foto de perfil de Alejandro Aboy">
          <h5 class="text-black text-lg font-bold">Alejandro Aboy</h5>
          <p class="text-dark-gray text-base font-regular">Cree que las estrategias pueden empezar con un formulario de Facebook Ads y convertirse en un embudo de ventas con mailing, blog y un "whoknows" nuevo que aparece para cada proyecto. Probablemente ya hayas hablado con él porque te envió un mail aleatorio con un asunto así: "cómo estás???" Ese tipo de técnica son las que puede aplicar para conseguirte nuevas oportunidades.</p>
          <a href="" class="btn-link" target="_blank">See LinkedIn</a>
        </article>
        <article class="home-about_members--member">
          <img src="/img/juan-germano.png" alt="Foto de perfil de Juan Germano">
          <h5 class="text-black text-lg font-bold">Juan Germano</h5>
          <p class="text-dark-gray text-base font-regular">Es de esos que físicamente tienen la estatura para jugar al basquet pero por dentro tienen alma de hacker que se queda hasta la hora que sea intentando resolver ese problema. Empezó a diseñar sitios luego de aprender a codearlos, así que ya te das una idea. Detesta los productos digitales que son 90% animaciones y colores pasteles y 10% información útil. Por eso considera que Wikipedia tiene buen diseño.</p>
          <a href="" class="btn-link" target="_blank">See LinkedIn</a>
        </article>
      </div>
    </div>
  </section>
  <section class="band text-center bg-black home-contact" id="contact">
    <div class="container">
      <h3 class="text-4xl text-white">Enough about the "who knows”</h3>
      <p class="text-xl text-light-gray text-section-sub">Now it's your turn. Tell us a little bit about your company or project. If we think we can help you somehow, we'll reach out to schedule a discovery call.</p>
      <form name="contact" method="POST" data-netlify="true" id="contactForm">
        <div class="form-row">
          <label for="email" class="form-label">
            <span class="text-base text-white">Email*</span>
            <input type="email" id="email" placeholder="name@email.com">
          </label>
          <label for="name" class="form-label">
            <span class="text-base text-white">Name*</span>
            <input type="text" id="name" placeholder="Laura">
          </label>
        </div>
        <div class="form-row">
          <label for="email" class="form-label">
            <span class="text-base text-white">Company*</span>
            <input type="text" id="empresa" placeholder="Lego">
          </label>
          <label for="budget" class="form-label dropdown">
            <span class="text-base text-white">¿How much money are you willing to inest?</span>
            <select name="budget" id="budget">
              <option value="" default>u$s500-u$s1000</option>
              <option value="">u$s1000-u$s2000</option>
              <option value="">u$s3000-u$s5000</option>
              <option value="">u$s5000-u$s10000</option>
            </select>
          </label>
        </div>
        <div class="form-row">
          <label for="phase" class="form-label dropdown">
            <span class="text-base text-white">¿What phase is your proyect at right now?</span>
            <select name="phase" id="phase">
              <option value="" default>I need a website, store or app</option>
              <option value="">I want to scale sales on my ecommerce</option>
              <option value="">I want to capture leads or contacts</option>
              <option value="">Other</option>
            </select>
          </label>
        </div>
        <div class="form-row">
          <label for="message" class="form-label">
            <span class="text-base text-white">Tell us a little bit about it</span>
            <textarea name="message" id="message" cols="10" rows="10" placeholder="I have an online store running ads that run a lot of traffic but I don't sell"></textarea>
          </label>
        </div>
        <div class="form-row submit">
          <button type="submit" class="btn full">Send</button>
        </div>
      </form>
    </div>
  </section>
{{ end }}